<footer class="footer">
  <small>
    <%= Time.current.year %>
    <%= link_to 'Prolificvue - Resources for Professionals', root_path %>
    a Daniel Leadership Institute Open Project.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "FAQS", faqs_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>